.App {
  text-align: center;
  /* background: #080627; */
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

:root {
  background-image: linear-gradient(#060110, #0e3310);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #000;

}

.body {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;

}

.logo {
  height: 250px;
  width: 250px;
  margin: 20px;  

}



